@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.float-label-input:focus-within label,
.float-label-input input:not(:placeholder-shown) + label,
.float-label-input select:not([value=""]) + label,
.float-label-input textarea:not([value=""]) + label {
  transform: translateY(-1.5rem) scale(0.75);
  background-color: white;
}

.float-label-input:focus-within label {
  color: #0367b0;
}
